*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: rgb(176, 190, 190);
  position: relative;
  min-height: 150px;
}

.ident{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.ident-foto{
  width: 100%;
}

.nome-completo{
  margin-top: 0px;
  font-size: 50px;
}
.container-foto{
  position: absolute;
  right: 10px;
  top: 0px;
  width: 9%;
}

.info-pessoal{
  font-size: 20px;
}